// Color Variables
$darkgrey: rgba(34, 38, 41, .5);
$lightgrey: #474B4F;
$lightergrey: #6B6E70;
$darkgreen: #61892F;
$green: #86C232;

/***** Loader *****/

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/loading.svg') 50% 50% no-repeat rgb(249,249,249);
}


.cv-button {
    
    a {
        position: absolute;
        top: -15px;
        background-color: #2196F3;
        border: none;
    }
    
    a:hover {
        background-color: rgb(27, 129, 212) !important;
    }
    
    
}

/***** Global Styles *****/

.title {
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 50px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    
    span {
        color: $green;
    }
}

/***** DIVIDERS *****/

.divider-portf,
.divider-about,
.divider-parallax {
    position: absolute;
    width: 100%;
    
}

.divider-portf {
    height: 100px;
    clip-path: polygon(0% 0%, 50% 80%, 100% 0, 100% 100%, 0% 100%);
    top: 700px;
    background-color: $lightgrey;
}

.divider-about {
    height: 100px;
    clip-path: polygon(0% 0%, 50% 80%, 100% 0, 100% 100%, 0% 100%);
    top: -100px;
    background-color: $lightergrey;
}

.divider-parallax {
    height: 150px;
    clip-path: polygon(50% 0, 100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
    top: -10px;
    right: 0;
    background-color: $lightergrey;
}

/***** Header *****/

.logo {
    width: 30px;
}


nav {
    background-color: $darkgrey;
    transition: .5s;
    
    .navbar-brand {
        span { 
        font-family: 'Ubuntu', sans-serif;
        font-size: 13px;
        letter-spacing: 3px;
        }
    }
    
    .navbar-nav li {
        font-size: 12px;
        letter-spacing: 2px;
        margin: 0px 15px 0px 15px;

        a:hover {
            
                background-color: rgba(221, 221, 221, 0.63);
                color: black !important; 
                transition: .5s;
            
        }
    }
    
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
        //border-color: rgb(255,255,255, 1) !important;
    }

}

@media (max-width: 633px) {
    .navbar-brand {
        margin: 3px 0;
    }
}



/***** Hero *****/

.hero {
  
    max-width:100% !important;
    max-height:100% !important;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    .bg-color-text {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 500px;
        height: 250px;
        background-color: rgba($color: $lightergrey, $alpha: .5);
        border: 2px solid rgba($color: $lightergrey, $alpha: .8);
    }
    
    .hero-text,
    .languages,
    .arrow-down {
        transform: translate(-50%, -50%);
        position: absolute;
    }
    
    .hero-text {
        text-align: center;
        top: 45%;
        left: 50%;
        margin: 50px 0;
        color: white;
    }
    
    .languages {
        top: 65%;
        left: 50%;
    }
    
    .languages li img {
        width: 60px;
        margin: 0 20px;
    }
    
    .arrow-down {
        top: 80%;
        left: 50.5%;
    }
    
    .fa-chevron-down {
        font-size: 2.5em;
        color: #eeeeee;
        transition: .3s ease;
    }
    
    
    .fa-chevron-down:hover {
        color: $green;
    }


    
    h1 {
        letter-spacing: 5px;
        font-size: 5em;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        
        
        .firstname {
            color: #94f908;
        }
        
    }

    p {
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.5em;
        font-weight: 400;
    }
    
    h1, p {
        text-shadow: 0px 3px 3px rgba(0,0,0,0.8);
    }

}


@media (max-width: 768px) { 

    .hero-text {
        font-size: 11px;
    }
    
    .bg-color-text {
        width: 400px !important;
        
    }
    
    .languages li img{
        width: 50px !important;
    }
    
    
}

@media (max-width: 576px) { 
    .hero-text {
        font-size: 7px;
    }
    
    .bg-color-text {
        width: 300px !important;
        height: 250px;
    }
    
    .languages li img{
        width: 40px !important;
        margin: 0 !important;
    }
    
    .hero p {
        font-size: 2.5em !important;
    }
    
    .arrow-down {
        left: 53% !important;
    }
    
}

/***** Portfolio *****/

.portf {
    height: auto;
    background-color: $lightgrey;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 200px;


    p {
        font-size: 20px;
        margin-bottom: 50px;
        font-family: 'Lato', sans-serif;
    }
    
    .thumb {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .img-thumbnail {
        width: 100%;
        border: none;
        padding: 0;
        height: 200px;
        filter: grayscale(1);
    }
    
    .img-thumbnail:hover {
        filter: none;
    }
    
    .zoom {
        overflow: hidden;
        position: relative;
        -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
        border-radius: 4px;
        
        img {
            max-width: 100%;
  
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s; 
        }
        
        img:hover {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
    
    
    .modal-body {
        width: auto;
        img {
            width: auto;
            max-height: 350px;
        }
        
        .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
        }
        .carousel-control-next-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
        }
    }
    
    .modal-header {
        .close {
            margin: -10px;
            padding: 0;
        }
    }
    
}

/***** About *****/

.about {
    position: relative;
    padding-bottom: 150px;
    padding-top: 50px;
    background-color: $lightergrey;
    img {
        min-height: 100%;
        background-color: #88d61b;
    }
    
    .title-aboutme {
        padding-bottom: 20px;
        font-size: 3em;
        font-family: 'Anton', sans-serif;
        color: #222629;
    }
    
    .bottom-line {
        width: 200px;
        border-bottom: 7px solid #eeeeee;
    }
    
    
    .bg-color {
        background-color: #88d61b;
        padding: 20px;
    }
    
    p {
        font-family: 'Ubuntu', sans-serif;
        line-height: 30px;
        text-align: justify;
        margin-top: 30px;
        padding: 0;
    }
    
    .boxshadow {
        -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    }
}

@media (min-width: 576px) {
    .about {
        p {
            font-size: 1em;
        }
    }
}

@media (min-width: 768px) {
    .about {
        p {
            font-size: 1.5em;
            padding: 0 40px
        }
    }
}

@media (max-width: 400px) {
    .about {
        .row {
            margin-bottom: 0 !important;
        }
    }
    
}


/***** Parallax *****/


.parallax {
    background-image: url("../img/parallax.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .text-parallax {
        color: #1c1f22;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 50%;
        text-align: center;
        font-size: 2em;
        padding: 20px;
        margin-top: 40px;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.705);
        box-shadow: 0px 0px 28px -1px rgba(0,0,0,0.75);
        transform: translate(-50%, -50%);

        
    }
}

@media (max-width: 800px) {
    .parallax {
        .text-parallax {
            font-size: 25px;
            width: 80%;
        }
    } 
}

@media (max-width: 600px) {
    .parallax {
        .text-parallax {
            font-size: 20px;
            width: 70%;
        }
    } 
}

/***** Contact *****/

.contact {
    background-color: #1c1f22;
    
    p {
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
    }
    
    h3 {
        padding-top: 20px;
        padding-bottom: 20px; 
    }

    ul {
        padding-bottom: 20px;
        font-size: 30px;

        .fa-github {
            color: #6e5494;
        }

        img {
            padding-bottom: 5px;
        }
        }
        .fa-linkedin-in {
            color: #0077b5;
        
        }
        
    .email {
        display: inline-block;
        padding: 20px;
        color: $darkgreen;
        font-family: 'Ubuntu', sans-serif;
        letter-spacing: 1px;
        font-size: 1.5em;
    }
}

/***** Footer *****/

footer {
    background-color: #1c1f22;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    
    p {
        height: 15px;
        color: #eeeeee;
        
    }
    
}




