/***** Global Styles *****/
.title {
  font-weight: bold;
  letter-spacing: 1px;
  padding-top: 50px;
  font-family: 'Ubuntu', sans-serif;
}

/***** Header *****/
.logo {
  width: 30px;
}

nav {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s;
  transition: .5s;
}

nav .navbar-brand span {
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  letter-spacing: 3px;
}

nav .navbar-nav li {
  font-size: 12px;
  letter-spacing: 2px;
  margin: 0px 15px 0px 15px;
}

nav .navbar-nav li a:hover {
  background-color: rgba(221, 221, 221, 0.63);
  color: black !important;
  -webkit-transition: .5s;
  transition: .5s;
}

nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

@media (max-width: 633px) {
  .navbar-brand {
    margin: 3px 0;
  }
}

/***** Hero *****/
.hero {
  background-image: url("../img/HeroPhoto.jpg");
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero .hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 50px 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

.hero .fa-chevron-down {
  font-size: 2.5em;
  color: #eeeeee;
  margin-top: 50px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.hero .fa-chevron-down:hover {
  color: #fea411;
}

.hero h1 {
  letter-spacing: 8px;
  font-size: 5em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-style: italic;
}

.hero h1 img {
  -webkit-animation: rotation 4s infinite linear;
  width: 0.8em;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.hero p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

@media (max-width: 950px) {
  .hero {
    background-image: url("../img/HeroPhoto2.jpg");
  }
}

@media (max-width: 768px) {
  .hero-text {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  .hero-text {
    font-size: 10px;
  }
}

/***** Portfolio *****/
.portf {
  height: auto;
  background-color: #eeeeee;
  padding-bottom: 20px;
}

.portf h1 span {
  color: #fea411;
}

.portf p {
  font-style: italic;
  font-size: 20px;
}

.portf .thumb {
  margin-top: 15px;
  margin-bottom: 15px;
}

.portf .img-thumbnail {
  height: 200px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.portf .img-thumbnail:hover {
  -webkit-filter: none;
          filter: none;
}

.portf .zoom {
  overflow: hidden;
  position: relative;
}

.portf .zoom img {
  max-width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portf .zoom img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.portf .modal-body {
  width: auto;
}

.portf .modal-body img {
  width: auto;
  max-height: 350px;
}

.portf .modal-body .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.portf .modal-body .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.portf .modal-header .close {
  margin: -10px;
  padding: 0;
}

/***** About *****/
.about img {
  min-height: 100%;
}

.about .title-aboutme {
  padding-bottom: 20px;
  font-size: 3em;
  font-family: 'Anton', sans-serif;
}

.about .bottom-line {
  width: 200px;
  border-bottom: 7px solid #eeeeee;
}

.about .title span {
  color: #fea411;
}

.about .bg-color {
  background-color: #fea411;
  padding: 20px;
}

.about p {
  font-family: 'Ubuntu', sans-serif;
  line-height: 30px;
  text-align: justify;
  margin-top: 30px;
  padding: 0;
}

@media (min-width: 576px) {
  .about p {
    font-size: 1em;
  }
}

@media (min-width: 768px) {
  .about p {
    font-size: 1.2em;
  }
}

@media (max-width: 400px) {
  .about .row {
    margin-bottom: 0 !important;
  }
}

/***** Parallax *****/
.parallax {
  background-image: url("../img/parallax2.jpg");
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.parallax .text-parallax {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  text-align: center;
  font-size: 2em;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 0px 28px -1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 28px -1px rgba(0, 0, 0, 0.75);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
  .parallax .text-parallax {
    font-size: 25px;
    width: 80%;
  }
}

@media (max-width: 600px) {
  .parallax .text-parallax {
    font-size: 20px;
    width: 70%;
  }
}

/***** Contact *****/
.contact h1 span {
  color: #fea411;
}

.contact h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact ul {
  padding-bottom: 20px;
  font-size: 30px;
}

.contact ul .fa-github {
  color: #6e5494;
}

.contact ul img {
  padding-bottom: 5px;
}

.contact .fa-linkedin-in {
  color: #0077b5;
}

/***** Footer *****/
footer {
  background-color: #fea411;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
}

footer p {
  height: 15px;
}
/*# sourceMappingURL=main.css.map */